@charset "UTF-8";

@media screen and (max-width: 1000px) {
    .main_home {
        justify-content: space-between;
    }
    .main_home > .section_home:is(:nth-child(1), :nth-child(2)) {
        flex: 1 0;
        max-width: 48%;
    }
    .main_home > .section_home:is(:nth-child(3), :nth-child(4)) {
        flex-grow: 1;
        max-width: 100%;
    }
    .main_home > .section_home:nth-child(3) .mapa {
        max-width: 80%;
        margin: auto;
        padding-bottom: 60%;
    }
}

@media screen and (max-width: 800px) {
    .main_home {
        flex-direction: column;
    }
    .main_home > .section_home:is(:nth-child(1), :nth-child(2)) {
        max-width: 100%;
    }
    nav {
        max-width: 100%;
    }
    nav ul {
        justify-content: center;
    }
    .art_mascote figure {
        float: none;
        margin: auto;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    footer {
        flex-wrap: wrap;
    }
    footer > :is(address, div) {
        max-width: 100%;
    }
}

@media screen and (max-width: 620px) {
    body {
        background: var(--roxo);
    }
    header {
        background-image: linear-gradient(to bottom, var(--turquesa), #2be0cb);
    }
    #menu {
        display: block;
    }
    nav {
        margin-top: 5px;
        display: none;
        font-size: 1.7em;
    }
    nav ul {
        flex-direction: column;
        & a {
            display: block;
            border-radius: 5px;
        }
    }
    .main_home {
        background-color: rgba(255, 255, 255);
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .art_mascote figure {
        float: left;
        font-size: 1.2em;
        margin: 0px 10px 2px 0;
    }
    .main_home > .section_home:nth-child(3) .mapa {
        max-width: 90%;
        margin: auto;
        padding-bottom: 80%;
    }
}

@media screen and (max-width: 400px) {
    .main_home > .section_home:not(:first-child) {
        font-size: 0.95em;
    }
}